body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #1e1e1e;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 295px;
}

.uid {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 15px 0px 0px 0px;
  background: #dddddd;
  color: #333333;
  letter-spacing: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 8px 0px;
}

.row label {
  font-size: 15px;
  width: 75px;
}

.input-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

select {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 4px;
  background: #eeeeee;
  margin: 0px 7px;
  width: 122px;
}

input[type="password"], input[type="text"] {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 4px;
  background: #eeeeee;
  margin: 0px 0px 0px 7px;
  width: 100%;
}

button.scan {
  border: 0px;
  border-radius: 3px;
  width: 70px;
  padding: 4px;
  background: #eeeeee;
  outline: none;
}

h1 {
  margin: 0px;
}

h3 {
  margin: 20px 0px 10px 0px;
}

#init-block .buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 25px;
}

input[type="submit"], input[type="reset"] {
  border: 0px;
  border-radius: 3px;
  width: 70px;
  padding: 4px;
  background: #eeeeee;
  outline: none;
}

#process-block {
  margin-top: 20px;
}

#process-block .status-block.connecting {
  border-left: 3px solid orange;
  padding: 0px 5px;
}

#process-block .status-block.connected {
  border-left: 3px solid green;
  padding: 0px 3px;
}

#process-block .buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#init-block, #process-block {
  display: none;
}
